<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	
	<bean id="productDao" class="com.cblue.dao.ProductDaoImpl">
	   <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="productService" class="com.cblue.service.ProductServiceImpl">
	   <property name="productDao" ref="productDao"></property>
	</bean>
	
	<bean id="productAction" class="com.cblue.action.ProductAction" scope="prototype">
	  <property name="productService" ref="productService"></property>
	</bean>
	
	
	
</beans>